.expense-date {
  border: 2px solid var(--white-100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 10px 15px;
  gap: 5px;
  font-weight: 100;
}

.expense-date__month {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
}
.expense-date__day {

  font-weight: bold;
  font-size: 30px;
}
.expense-date__year {
  font-weight: 300;
  font-size: 12px;
}
