.expense-new {
  background-color: var( --purple-200);
  margin-bottom: 20px;
  padding: 10px;
  color: var(--white-100);
}


.expense-new__button {
  text-align: center;
}

.expense-new button {
  border: 2px solid var(--white-100);
  padding: 15px 10px;
  width: 150px;
  border-radius: 10px;
  color: var(--white-100);
  background-color: var(--purple-100);
  cursor: pointer;
  font-size: 16px;

}
.expense-new button:hover {
  color: var(--white-100);
  background-color: var(--purple-300);
}